<!-- 
 ***************************************************************************
 * Copyright 2012 Search Technologies Corp. 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 *     
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 *
 -->
<settings>

  <!--OSGI properties -->
  <configAdmin>
    <properties pid="org.apache.felix.webconsole.internal.servlet.OsgiManager">
      <property name="username">admin</property>
      <property name="password">admin</property>
      <property name="manager.root">/osgi</property>
    </properties>
  </configAdmin>

  <!-- Example autostart of an appication -->
  <!-- 
  <autoStart>
    <componentManager config="config/application.xml"/>
  </autoStart>
   -->

  <!-- System properties -->
  <properties>
    <property name="solrServer">http://localhost:8983</property>
    <property name="autoStart">false</property>
    <property name="crawlDataBase">data/crawler</property>
    <property name="ccdBase">data</property>
  </properties>
   
  <!-- Configured Repositories -->
  <repositories>
    <repository type="distribution">
      <directory>bundles/aspire</directory>
    </repository>

    <repository type="maven">
      <defaultVersion>0.5-SNAPSHOT</defaultVersion>
      <remoteRepositories>
        <remoteRepository>
          <id>stPublic</id>
          <url>http://repositories.searchtechnologies.com:8080/archiva/repository/public/</url>
          <user>stmaven</user>
          <password>##PASSWORD##</password>
        </remoteRepository>
      </remoteRepositories>
    </repository>
  
  </repositories>
  
  <!-- Example of authentication options -->
  <!--  Options are 'None' (default), 'ConfigFile' -->
  <!--
  <authentication>
    <type>none</type> 
  </authentication>
  -->

  <!-- Example of Distributed communications configuration-->
  <!--
  <distributedCommunications enabled="true">
    <installIgnoredPaths>appbundle-cache, cache, data, felix-cache, log</installIgnoredPaths>
    <checkpointJobRequests>false</checkpointJobRequests>
    <connectionIdleTimeout>120000</connectionIdleTimeout>
    <pollTimeout>100</pollTimeout>

    <tcp>
	  <keepAlive>false</keepAlive>
	  <trafficClass>2</trafficClass>
	  <reuseAddress>false</reuseAddress>
	  <readTimeout>10000</readTimeout>
	  <tcpNoDelay>false</tcpNoDelay>
    </tcp>

    <discovery type="static">
	  <checkTimeout>45000</checkTimeout>

	  <remoteNodes/>

    </discovery>

    <discovery type="broadcast" default="true">
	  <broadcastPort>50000</broadcastPort>
	  <multicastAddressGroup>230.0.0.1</multicastAddressGroup>
    </discovery>

  </distributedCommunications>
  -->
</settings>